@Import '../../styles.scss';

body{
    overflow: auto;
}

#add-talk-window {
    
}

#add-talk-header{
    display: flex;
    flex-direction: row;
}
#form-main{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
    padding: 0.35em 1em;
    width: 80%;
    border-color: var(--neon);
    border-radius: 25px;
    border-style: solid;
    border-width: 0.4rem;
    align-items: flex-start;    
}

.lbl{
margin-bottom: -15px;
}

.input {
    width: 20%;
    background-color: var(--input-bg-primary);
}

#input-title{
width: 20rem;
height: 2rem;
}

#input-description{
background-color: var(--input-bg-primary);
}
#resources {
          
}

.input-resources{
   width: 21em;
}
#input-srcs-btn{
    margin-left: 10px;
    width: 2rem;
}


#upload-img {
    width: 10%;
}

.btn-submit:hover{
    color: var(--font-color-primary);
}

#add-talk-datepicker {
    
    justify-content: flex-start;
}

#add-talk-author-select{
    color:black;
    width: 20rem;
}