
/*body {
    display: flex;
      flex-direction: column;
      text-align: center;         
      color:var(--font-color-primary);
  }
  */
  
#user-profile-component{
  display: flex;
  flex-direction: column;
  text-align: center;         
}

  #talk-list-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
    flex-grow: 1;
    line-height: 0.2em;
  }
  
  #ham-menu-header {  
   margin-left: auto;
  }
  
  #home-button {
    background: transparent;
    color:var(--font-color-primary);
    font-size: 2rem;
    border: 0ch;
    cursor: pointer;
  }
  
  