#talk-list-window {}

#card-list {
  width: 50%;
}

#talk-list-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

#talk-list-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  line-height: 0.2em;
}

#ham-menu-header {
  margin-left: auto;
}


#talk-list-main-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.talk-list-page-btn-main {  
  font-size:2em; 
  height: 2em;
  cursor: pointer;
  
}


.talk-list-page-number-arrow-bottom {  
 
 
  
}
.talk-list-page-number-btn-bottom{
  display: flex;
  flex-direction: row;
  font-size:2em;
  background-color: transparent;
  word-spacing: 10em;
  letter-spacing: 0.3em;
  cursor: pointer;
} 
.talk-list-page-number-btns-bottom{
  display: flex;
  flex-direction: row;
  font-size:2em;
  justify-content: center;
  background-color: transparent;
  word-spacing: 10em;
  letter-spacing: 0.3em;
 cursor: pointer;
} 

.talk-list-page-input{
  height: 40px;
  width: 60px;
}

.go-first{
  margin-right: 10px;
}
.go-last{
  margin-left: 10px;
}

#pages-nums-and-input{
  

}

.test{
 flex:1;
}
#page-number{
  text-align: center;
}
#talk-card {}