#talk-component {
    display: flex;
    flex-direction: column;
}
#talk-header {
    display: flex;
    flex-direction: row;
}
#img-and-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#img_avatar-talk {
    border-radius: 15em;
    width: 5%;
}

#talk-card-info {
    display: flex;
    flex-direction: row;
    width: 100%;

}

#talk-title {}

#talk-author {
    margin-left: auto;
    width: 10em;
    height: 3em;
    //cursor: pointer;
}

#vid {
    justify-content: center;
}

#talk-url {
    color: var(--neon)
}
#btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
#btn-edit{
}

#btn-delete{
   
}

#resources-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}