@import '../../styles.scss';


#author-card {
    display: flex;
    flex-direction: row;
    margin: auto;    
    width: 60%;
   /* background-color: var(--bg-primary-light);*/
    border-style:double;
    border-width: 4px 4px 4px 4px;
    border-color: var(--font-color-primary);
   /* border-radius: 10rem;*/
    border-top-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    flex-grow: 1;
    line-height: 0.8em;
   /* background:linear-gradient( to bottom right,rgba(63,81,181,1) 0%, rgb(52, 20, 57) 70%); */
    box-shadow: 1px 1px 10px var(--neon);
    cursor: pointer;
    ;
}


#author-card-info{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: flex-start;
    margin-left: 2%;
    
}


#author-img_avatar{
    border-radius: 15em;
    width: 10%;  
    align-self: center;
    margin-left: 100px;
}


